@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Kanit", sans-serif;
}

body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

/* nav bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #329d9c;
  z-index: 1000;
  padding: 10px 0;
}

.menu-bar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
}

.menu-text-bar {
  display: flex;
  gap: 20px;
  flex-direction: row;
  overflow: hidden;
}

.menu-text-bar {
  display: flex;
  flex-direction: row;
}

.menu-text-bar a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-text-bar a:hover {
  transform: scale(1.1);
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.dropdown-menu {
  float: left;
  overflow: hidden;
}

.dropdown-menu .drop-menu-btn {
  cursor: pointer;
  font-size: 14px; /* ให้ขนาด font เท่ากับในลิงก์ */
  border: none;
  outline: none;
  color: white;
  padding: 5px 15px; /* ปรับ padding ให้เท่ากันกับลิงก์ */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.dropdown-menu .drop-menu-btn:hover {
  transform: scale(1.1);
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #329d9c;
  min-width: 160px;
  z-index: 1;
  top: 100%;
  margin-left: 90px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
  transform: none;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.dropdown-content a:hover {
  background-color: #575757;
  color: white;
  transform: none;
  transition: color 0.5s ease;
}

.dropdown-content a::after {
  content: none;
}

.show {
  display: block;
}

/* drop menu user */
.dropdown-menu-user {
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.drop-menu-user-btn {
  text-align: center;
}

.drop-menu-user-btn button {
  background-color: #5db5b4;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.drop-menu-user-btn button:hover {
  background-color: #4a9c9b;
  transform: scale(1.05);
  color: white;
}



.dropdown-content-user {
  display: none;
  position: absolute;
  background-color: #329d9c;
  min-width: 200px;
  z-index: 1;
  top: 135%;
  right: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content-user a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transform: none;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.dropdown-content-user a:hover {
  background-color: #575757;
  color: white;
  transform: none;
  transition: color 0.5s ease;
}

.dropdown-content-user a::after {
  content: none;
}
.show-user {
  display: block;
}

.logo-menu {
  margin-right: 20px;
}
.menu-toggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

/* mobile */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 20px 8px 8px 52px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -30px;
  right: 10px;
  font-size: 50px;
}
.section-title-menu-mobile {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  border-left: 4px solid #56c596;
  padding-left: 10px;
  color: #56c596;
  margin: 10px 0px 10px 30px;
}

/* dropdown menu mobile */
.drop-content-mobile {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drop-content-mobile li {
  padding: 8px 16px;
}

.drop-content-mobile li a {
  text-decoration: none;
  color: #818181;
  display: block;
}

.drop-content-mobile li a:hover {
  color: #f1f1f1;
}

.show {
  display: block;
}
/* --------------------------------------------- */

.logo-menu {
  display: block;
}

.logo-menu.active {
  display: none;
}

/* main */

main {
  flex-grow: 1;
  margin-top: 80px;
}

.title-home {
  text-align: center;
  padding: 50px 0px 50px;
}
.title-home span {
  font-size: 48px;
  font-weight: bold;
}
.title-home p {
  font-size: 24px;
}

/* data */
.reservation_and_checklist_announcement {
  background-color: #c1e8ff;
  color: white;
  padding: 40px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.checklist,
.reservation {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checklist h3,
.reservation h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: rgb(7, 96, 208);
}

.checklist p,
.reservation p {
  font-size: 1em;
  margin-bottom: 15px;
  color: black;
}
.checklist li {
  font-size: 1em;
  margin-bottom: 15px;
  color: black;
}
.checklist,
.reservation {
  text-align: left;
}

.checklist a,
.reservation a {
  display: inline-block;
  background-color: rgb(7, 96, 208);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.checklist a:hover,
.reservation a:hover {
  background-color: rgb(5, 76, 153);
}

/* location */
.contact-broad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  background-color: #f8f9fa;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #ff6f61;
  margin: 10px;
}

.contact-broad p {
  flex-basis: 100%;
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.location {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin: 15px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff; /* สีพื้นหลังกล่อง */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* เงาเบาๆ เพื่อเพิ่มมิติ */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.location:hover {
  transform: translateY(-5px); /* เพิ่มเอฟเฟค hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.location h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.location p {
  text-align: center;
  font-size: 16px;
  color: #777;
  margin-bottom: 15px;
}

.location ul {
  list-style: none;
  padding: 0;
}

.location li {
  text-align: left;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.location li p {
  margin: 0;
}

/* footer */
footer {
  background-color: #333;
  color: white;
  padding: 40px 0px 0px;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.footer-section {
  flex-basis: 30%;
  margin-bottom: 10px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #56c596;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-section a {
  color: #56c596;
  text-decoration: none;
  margin-right: 10px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #222;
  padding: 20px;
  font-size: 12px;
  margin-top: 20px;
  color: #bbb;
}

.footer-section i {
  margin-right: 8px;
}

.footer-section .social a {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-section .social a:hover {
  color: #fff;
}

/* notification */

.nt-reservation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  gap:20px;
}
.nt-re-title{
  margin-top:80px;
  font-size: 48px;
  font-weight: bold;
}
.p-nt{
  font-size: 16px;
  margin-bottom: 30px;
}
.home-btn{
  margin: 30px 0px 50px;
  cursor: pointer;
  text-decoration:none;
  font-size: 16px;
  border: none;
  color: white;
  padding: 10px 20px;
  background-color: #56C596;
  border-radius: 5px;
  font-family: inherit;
  transition: color 0.3s ease, transform 0.3s ease;
}
.home-btn:hover {
  transform: scale(1.1);
  background-color: #56C596;
  color: white;
}

/* mobile query for mobile*/

@media (max-width: 431px) {
  .menu-text-bar,
  .menu-user-bar,
  aside {
    display: none; /* ซ่อนเมนูปกติทั้งหมด */
  }

  .menu-toggle {
    display: block;
  }

  .menu-bar {
    justify-content: space-between;
  }

  .menu {
    flex-direction: column;
    font-size: 14px;
  }
  .title-home {
    padding: 30px 0;
  }

  .title-home span {
    font-size: 30px;
  }

  .title-home p {
    font-size: 18px;
  }
  .section-title {
    font-size: 24px;
  }

  .reservation_and_checklist_announcement {
    padding: 30px;
}
.checklist,
.reservation {
    width: 90%;
    margin: 10px auto;
}

.checklist h3,
.reservation h3 {
    font-size: 22px;
}

.checklist p,
.reservation p {
    font-size: 14px;
}

.checklist li {
    font-size: 14px;
}
.checklist a,
    .reservation a {
        padding: 8px 15px;
        font-size: 14px;
    }

  .location {
    flex-basis: 100%;
  }

  .location h2 {
    font-size: 18px;
  }

  .location p {
    font-size: 12px;
  }

  .location li {
    font-size: 12px;
  }
  .contact-broad {
    padding: 10px;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .footer-section {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .footer-section h2 {
    font-size: 16px;
  }

  .footer-section p,
  .footer-section ul li {
    font-size: 12px;
  }

  .footer-bottom {
    font-size: 10px;
  }

  .footer-section .social a {
    font-size: 12px;
    margin: 0 5px;
  }
  .dropdown-menu-user{
    display:none;
  }
  .nt-reservation{
    padding: 20px;
  }
  .nt-re-title{
    font-size: 28px;
    font-weight: bold;
  }
  .p-nt{
    font-size: 12px;
    margin-bottom: 30px;
  }
  .home-btn{
    margin-top: 30px;
    font-size: 12px;
    padding: 10px 20px;
  }
}

/* mobile query for ipads*/
@media (min-width: 432px) and (max-width: 1024px) {
  .menu-toggle {
    display: none;
  }
  .contact-broad {
    padding: 20px;
  }

  .section-title {
    font-size: 28px;
  }
  .title-home {
    padding: 40px 5px;
}

.title-home span {
    font-size: 38px;
}

.title-home p {
    font-size: 20px; 
}
.reservation_and_checklist_announcement {
  padding: 35px;
}

.checklist,
.reservation {
  width: 85%;
  margin: 15px auto;
}

.checklist h3,
.reservation h3 {
  font-size: 1.4em;
}

.checklist p,
.reservation p {
  font-size: 0.95em;
}

.checklist li {
  font-size: 0.95em;
}
.checklist a,
    .reservation a {
        padding: 9px 18px;
        font-size: 1em;
    }

  .location {
    flex-basis: 45%;
  }

  .location h2 {
    font-size: 20px;
  }

  .location p {
    font-size: 14px;
  }

  .location li {
    font-size: 12px;
  }
  .nt-reservation{
    padding: 20px;
  }
  .nt-re-title{
    font-size: 38px;
    font-weight: bold;
  }
  .p-nt{
    font-size: 14px;
    margin-bottom: 30px;
  }
  .home-btn{
    margin-top: 30px;
    font-size: 14px;
    padding: 10px 20px;
  }
}
