*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  body{
    background-image: linear-gradient(to top right, #329D9c, #cff4d2, #ffffff);
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    margin:0;
    min-height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* align-content: center; */
    padding-top: 50px;
  }
  /* nav bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #329d9c;
  z-index: 1000;
  padding: 10px 0;
}

.menu-bar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
}

.menu-text-bar {
  display: flex;
  gap: 20px;
  flex-direction: row;
  overflow: hidden;
}

.menu-text-bar {
  display: flex;
  flex-direction: row;
}

.menu-text-bar a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-text-bar a:hover {
  transform: scale(1.1);
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.dropdown-menu {
  float: left;
  overflow: hidden;
}

.dropdown-menu .drop-menu-btn {
  cursor: pointer;
  font-size: 14px; /* ให้ขนาด font เท่ากับในลิงก์ */
  border: none;
  outline: none;
  color: white;
  padding: 5px 15px; /* ปรับ padding ให้เท่ากันกับลิงก์ */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.dropdown-menu .drop-menu-btn:hover {
  transform: scale(1.1);
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #329d9c;
  min-width: 160px;
  z-index: 1;
  top: 100%;
  margin-left: 90px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
  transform: none;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.dropdown-content a:hover {
  background-color: #575757;
  color: white;
  transform: none;
  transition: color 0.5s ease;
}

.dropdown-content a::after {
  content: none;
}

.show {
  display: block;
}

/* drop menu user */
.dropdown-menu-user {
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.drop-menu-user-btn {
  text-align: center;
}

.drop-menu-user-btn button {
  background-color: #5db5b4;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.drop-menu-user-btn button:hover {
  background-color: #4a9c9b;
  transform: scale(1.05);
  color: white;
}



.dropdown-content-user {
  display: none;
  position: absolute;
  background-color: #329d9c;
  min-width: 200px;
  z-index: 1;
  top: 135%;
  right: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content-user a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transform: none;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.dropdown-content-user a:hover {
  background-color: #575757;
  color: white;
  transform: none;
  transition: color 0.5s ease;
}

.dropdown-content-user a::after {
  content: none;
}
.show-user {
  display: block;
}

.logo-menu {
  margin-right: 20px;
}
.menu-toggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

/* mobile */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 20px 8px 8px 52px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -30px;
  right: 10px;
  font-size: 50px;
}
.section-title-menu-mobile {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  border-left: 4px solid #56c596;
  padding-left: 10px;
  color: #56c596;
  margin: 10px 0px 10px 30px;
}

/* dropdown menu mobile */
.drop-content-mobile {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drop-content-mobile li {
  padding: 8px 16px;
}

.drop-content-mobile li a {
  text-decoration: none;
  color: #818181;
  display: block;
}

.drop-content-mobile li a:hover {
  color: #f1f1f1;
}

.show {
  display: block;
}

/* --------------------------------------------- */

.logo-menu {
  display: block;
}

.logo-menu.active {
  display: none;
}
  
  .container{ 
    margin: 10px 100px;
    padding: 12px 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  select, input[type="text"], input[type="hidden"] {
    width: 100%; 
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

select:focus, input[type="text"]:focus {
    border-color: #2b9b8a;
    outline: none;
}

  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
  
  div.setcenter {
    margin-top: 2%;
  }
  
  .setcenter{
    justify-content: center;
    text-align: center;
  }
  
  .addInformation{
    background-color: #329D9c;
    color: white;
    border: none;
    border-radius: 25px;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  table,th,td{
    border: 1px solid #ddd;
    width: 100%;
  }
  
  table tr .sun ,.mon ,.tue ,.wed ,.thu ,.fri ,.sat{
    width: 14%;
    text-align: center;
  }
  
  th{
    background-color: #80d2d1;
    padding: 8px 0;
  }
  
  td {
    width: 50px;
    text-align: center;
  }

  td:hover {
    background-color: #e0f7f3; 
}
  
  table{
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
  }
  
  .doc-column{
    width: 60%;
    padding-left: 1%;
  }
  
  .amount-column{
    width: 10%;
    text-align: center;
  }
  
  .condition-column{
    width: 30%;
    padding-left: 1%;
  }
  #calendar-title{
    font-size: 24px;
    padding: 10px 10px 15px 0; 
  }
  
  table#calendar td{
    padding-bottom: 8%;
  }
  
  .document-mobile{
    display: none;
  }

.submit-btn {
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #e69500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 48px;
  text-align: center;
  margin:10px;
  justify-content: center;
}

.submit-btn:hover{
  background-color: #cc7a00;
  transform: translateY(-2px);
}

.submit-btn:active {
  transform: scale(0.95);
}

.submit-btn:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

.div-submit-btn{
  display: flex;
  justify-content: center;
}

#selected{
  background-color: #329D9c;
  color: white;
}

.bt-reservation_round_bt{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.reservation_round_bt {
  margin: 20px 0;
  width: 250px;
  padding: 15px 20px;
  background-color: #5bc0de;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reservation_round_bt:hover {
  background-color: #151616;
  transform: translateY(-3px);

}

.reservation_round_bt:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}


.round-selected{
  background-color: #151616;
  color: white;
}

  
.bt-previous-next{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.bt-previous {
  padding: 10px 15px;
  background-color: #e69500;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.bt-next {
  padding: 10px 15px;
  background-color: #4aa08b;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.bt-previous:hover {
  background-color: #8a5c00;
}

.bt-next:hover {
  background-color: #3b7d6c;
}

/* footer */
footer {
  background-color: #333;
  color: white;
  padding: 40px 0px 0px;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.footer-section {
  flex-basis: 30%;
  margin-bottom: 10px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #56c596;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-section a {
  color: #56c596;
  text-decoration: none;
  margin-right: 10px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #222;
  padding: 20px;
  font-size: 12px;
  margin-top: 20px;
  color: #bbb;
}

.footer-section i {
  margin-right: 8px;
}

.footer-section .social a {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-section .social a:hover {
  color: #fff;
}
@media only screen and (max-width: 1024px){
  *{
      font-size: 16px;
  }
  .container{
      margin: auto;
      padding: 5%;
  }
  th,td{
      font-size: 16px;
  }
  table#calendar td{
      padding-bottom: 10%;
  }
  .menu-toggle {
    display: none;
  }
}

@media only screen and (max-width: 430px){
  *{
      font-size: 14px;
  }
  .container{
      margin: auto;
      padding: 5%;
  }
  th,td{
      font-size: 14px;
  }
  table#calendar td{
      padding-bottom: 15%;
  }
  div #complete_reservation{
      flex-direction: column;
  }
  .reserve_time_select{
      margin: auto;
      display: inline-block; 
      /* margin-left: 0; */
  }
  .document-mobile{
      display: initial;
      .b-doc-mobile{
          /* border-left: 4px solid #56C596; */
          /* padding-left: 10px; */
          color: #56C596;
      }
  }
  .dropdown-menu-user{
    display:none;
  }
  .menu-text-bar,
  .menu-user-bar,
  aside {
    display: none; /* ซ่อนเมนูปกติทั้งหมด */
  }

  .menu-toggle {
    display: block;
  }

  .menu-bar {
    justify-content: space-between;
  }

  .menu {
    flex-direction: column;
    font-size: 14px;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .footer-section {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .footer-section h2 {
    font-size: 16px;
  }

  .footer-section p,
  .footer-section ul li {
    font-size: 12px;
  }

  .footer-bottom {
    font-size: 10px;
  }

  .footer-section .social a {
    font-size: 12px;
    margin: 0 5px;
  }
}