*{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top right,#329D9c, #cff4d2, #ffffff);
    height: 100vh;
}
.reservation{
    margin: 10px 100px;
    padding: 12px 25px;
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 25px;
}
select{
    width: 600px;
    margin-left: 50px;
    border: 1px solid;
    border-radius: 25px;
}
input{
    width: 80px;
    margin-left: 50px;
    border: 1px solid;
    border-radius: 25px;
}
.column{
    float: left;
}
.left{
    width: 25%;
}
/* .right{
    width: 75%;
} */
